body {
    background-image: url(images/homebg.jpg);
    width: 100%;

}
header{
    width:99%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: maroon;
}

h1 {
    color: black;
    text-align: center;
    font-family: 'Ruslan Display', cursive;
    font-size: 60px;
    font-weight: normal;
}
h2{
    text-align: center;
    font-family: 'Merienda', cursive;
    font-weight: bold;
    font-size: 45px;

}
h3{
    color: black;
    text-align: center;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 30px;
}

p {
    color: black;
}
div img{
    width:99%;
    margin: 0 auto;
    justify-content: center;
}
img {
    padding: 10px 5px 10px 0px;
    width: 100%;
    height: auto;
}

/* contact forms Start*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: maroon;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 50%;
    height:50vh;
    margin-left: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 100px;
}
.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width: 40%;
    margin-left: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-bottom: 100px;
}
.container #map{
    width:100%;
    height:100%;
    text-align:center;
}
.container textarea{
   height:200px;
}
/* contact forms End*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #111;
    color: white;
    text-align: center;
}
.footer p{
    color: white;

}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: darkblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}
.login{
    float:right
}

.containerLogin {
    padding: 16px;
    background-color:#f1f1f1;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.booking{
    text-align: center;
    background-color: #cccccc;
    max-width: 40vh;
}

ul, i{
    color: beige;
    padding-right: 7px;
}

.bdaytime {
    float: right;
    margin-right: 147px;
    margin-top: -10px;
    text-align: center;
}
.container1 label{
    color: darkblue;
    font-weight: bold;
    margin:20px ;
}
/* The container2 */
.container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    list-style: none;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: burlywood;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
    background-color: maroon;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*Container2 End*/

.regnr{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    margin: 14px;
}
.regnr input{
    font-size: x-large;
}

.test button:after{
    content: 'some content';
    display: block;
}
.test button:hover:after,
.test button:focus:after,
.test button:active:after{
    content: 'some other content';
    display: block;
}


.black{
    color: black;
}